@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: SpaceX;
		src: url('/fonts/SpaceX.ttf');
	}
}

@layer components {
	.gradient_main {
		@apply bg-gradient-to-tr from-slate-700/20 via-transparent to-blue-700/50;
	}
	.gradient_white {
		@apply bg-gradient-to-tr from-slate-900/95 via-sky-800/95 to-blue-900/80;
	}
	.gradient_blue {
		@apply bg-gradient-to-tr from-slate-900/95 via-sky-900 to-slate-900/95;
	}
	.shadow_blue {
		@apply shadow-blue-600/30 hover:shadow-blue-600/30 shadow-xl hover:shadow-2xl;
	}
}

* {
	font-family: 'Montserrat', sans-serif;
}

html,
body {
	background: transparent;
	background-color: midnightblue;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}
